.main-text {
    text-align: center;
}

.font200 {
    font-size: 200%;
}

.paddingTop70 {
    padding-top: 70px !important;
}

.paddingRight200 {
    padding-right: 200px;
}

.paddingLeft200 {
    padding-left: 200px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.section {
	position: relative;
	height: 160vh;
}

.extra-section {
	background: rgb(250, 248, 248);
	padding: 40px;
	border-radius: 6px;
    margin-top: 20px;
}

.bag {
    padding-top: 10px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.extra-heading {
    font-weight: bold;
}

.large {
    font-size: large;
}

.continue-section {
	background: rgb(19, 11, 34);
	border-radius: 6px;
    margin-top: 20px;
    text-align: right;
}

.section .section-center {
    position: absolute;
    top: 40%;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 0px;
}

hr {
    background-color: black;
    height: 2px;
}

.section {
    height: 190vh;
}