<div class="extra-section">
    <span class="extra-heading large">Baggage Policy</span>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="bag">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span class="paddingLeft10 extra-heading">Cabin Bag</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>7 Kgs(1 piece only)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="bag">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span class="paddingLeft10 extra-heading">Check-in Bag</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>15 Kgs(1 piece only)</div>
            </div>
        </div>
    </div>
</div>

<div class="extra-section">
    <span class="extra-heading large">Cancellation Refund Policy</span>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="extra-heading bag">Cancel Between(IST)</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="extra-heading bag">Cancellation Penalty</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    Now - 19, June 12.50 PM
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>&#8377; 100</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    19, June 12.50 PM - 22, June 12.50 PM
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>&#8377; 300</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    22, June 12.50 PM - 24, June 12.50 PM
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>&#8377; 600</div>
            </div>
        </div>
    </div>
</div>

<div class="form-btn">
    <button class="submit-btn" type="submit" routerLink="/passenger-details">Continue</button>
</div>